.bg {
  background: url("../../assets/img/no-problem-concept-bearded-man-makes-okay-gesture-has-everything-control-all-fine-gesture-wears-spectacles-jumper-poses-against-pink-wall-says-i-got-this-guarantees-something.jpg") center / cover no-repeat;
}

.paper {
}

.landing-001-Col {
  padding: 0px;
  background: linear-gradient(rgba(220,53,69,0), white 100%), linear-gradient(90deg, var(--bs-red), rgb(252,121,134) 21%, white 63%), #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image-2 {
  width: 50%;
  position: absolute;
  height: 80vh;
  mix-blend-mode: lighten;
  filter: brightness(125%);
}

@media (max-width: 991px) {
  .bg-image-2 {
    width: 100%;
    position: absolute;
    height: 60vh;
    mix-blend-mode: lighten;
    filter: brightness(125%);
  }
}

.landing-001-Col-1 {
  background: url("../../assets/img/no-problem-concept-bearded-man-makes-okay-gesture-has-everything-control-all-fine-gesture-wears-spectacles-jumper-poses-against-pink-wall-says-i-got-this-guarantees-something.jpg") center / cover no-repeat;
  width: 50%;
  height: 80vh;
  padding: 0px;
}

@media (max-width: 991px) {
  .landing-001-Col-1 {
    background: url("../../assets/img/no-problem-concept-bearded-man-makes-okay-gesture-has-everything-control-all-fine-gesture-wears-spectacles-jumper-poses-against-pink-wall-says-i-got-this-guarantees-something.jpg") center / cover no-repeat;
    width: 100%;
    height: 60vh;
    padding: 0px;
  }
}

.landingHeadingDiv {
  width: 70%;
  margin-left: 2%;
}

@media (max-width: 576px) {
  .landingHeadingDiv {
    width: 90%;
    margin-left: 2%;
  }
}

.landing-001Heading {
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 5rem;
  color: var(--bs-red);
}

@media (max-width: 576px) {
  .landing-001Heading {
    font-family: Lato, sans-serif;
    font-size: 3rem;
    color: var(--bs-red);
    line-height: 40px;
    font-weight: bold;
  }
}

